# Volatility Forecast Dataset

In [83]:
#!pip install yfinance
# !pip install pandas_ta

In [84]:
# If yfinance throws an error then uncomment the line below to install it. (You need to install it only once so comment it again after)
import yfinance as yf
import pandas_ta as ta
import pandas as pd
import numpy as np

In [85]:
aapl = yf.Ticker("AAPL")
df = aapl.history("20Y")
df.drop(columns = ["Dividends","Stock Splits"],inplace = True)

In [95]:
MACD = df.ta.macd(close='close', fast=12, slow=26, signal=9, append=True).drop(columns=["MACDh_12_26_9","MACDs_12_26_9"])
RSI = df.ta.rsi()
EMA = df.ta.ema()
MFI = df.ta.mfi()

In [96]:
df['MACD'] = MACD
df['RSI'] = RSI
df['EMA'] = EMA
df['MFI'] = MFI

In [100]:
df.dropna(inplace = True)
df.drop(columns = ["MACDh_12_26_9", "MACDs_12_26_9"], inplace = True)

In [124]:
df['signal'] = np.zeros(len(df))

In [125]:
df

,Open,High,Low,Close,Volume,MACD_12_26_9,MACD,RSI,EMA,MFI,signal
Date,,,,,,,,,,,
2002-01-22,0.340956,0.342487,0.334066,0.334066,327314400,0.000829,0.000829,50.007447,0.334518,47.026466,0.0
2002-01-23,0.333760,0.352745,0.330545,0.352438,443279200,0.002176,0.002176,57.510675,0.337776,46.200425,0.0
2002-01-24,0.350754,0.359940,0.350601,0.355347,344002400,0.003438,0.003438,58.570975,0.340971,43.558843,0.0
2002-01-25,0.350448,0.358562,0.346927,0.355960,185914400,0.004437,0.004437,58.804247,0.343696,37.623011,0.0
2002-01-28,0.358256,0.360553,0.347845,0.356266,186446400,0.005194,0.005194,58.928619,0.345981,43.231509,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2021-11-26,159.570007,160.449997,156.360001,156.809998,76959800,3.270578,3.270578,59.270621,157.035940,69.919725,0.0
2021-11-29,159.369995,161.190002,158.789993,160.240005,88748200,3.338364,3.338364,64.995963,157.618498,75.589781,0.0
2021-11-30,159.990005,165.520004,159.919998,165.300003,174048100,3.757074,3.757074,71.386106,159.015135,78.049987,0.0
2021-12-01,167.479996,170.300003,164.529999,164.770004,152052500,4.000029,4.000029,69.945772,160.061475,84.204852,0.0
2021-12-02,158.740005,164.199997,157.800003,163.759995,136474900,4.064224,4.064224,67.164616,160.733933,78.320252,0.0

In [126]:
for i,time in enumerate(df.index):
    
    before = df["Close"][i-5:i].std()
    after = df["Close"][i:i+5].std()
    
    if after >= before:
        df['signal'][i] = 1

<ipython-input-126-306d1eeadad2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['signal'][i] = 1

In [127]:
df

,Open,High,Low,Close,Volume,MACD_12_26_9,MACD,RSI,EMA,MFI,signal
Date,,,,,,,,,,,
2002-01-22,0.340956,0.342487,0.334066,0.334066,327314400,0.000829,0.000829,50.007447,0.334518,47.026466,0.0
2002-01-23,0.333760,0.352745,0.330545,0.352438,443279200,0.002176,0.002176,57.510675,0.337776,46.200425,0.0
2002-01-24,0.350754,0.359940,0.350601,0.355347,344002400,0.003438,0.003438,58.570975,0.340971,43.558843,0.0
2002-01-25,0.350448,0.358562,0.346927,0.355960,185914400,0.004437,0.004437,58.804247,0.343696,37.623011,0.0
2002-01-28,0.358256,0.360553,0.347845,0.356266,186446400,0.005194,0.005194,58.928619,0.345981,43.231509,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2021-11-26,159.570007,160.449997,156.360001,156.809998,76959800,3.270578,3.270578,59.270621,157.035940,69.919725,1.0
2021-11-29,159.369995,161.190002,158.789993,160.240005,88748200,3.338364,3.338364,64.995963,157.618498,75.589781,1.0
2021-11-30,159.990005,165.520004,159.919998,165.300003,174048100,3.757074,3.757074,71.386106,159.015135,78.049987,0.0
2021-12-01,167.479996,170.300003,164.529999,164.770004,152052500,4.000029,4.000029,69.945772,160.061475,84.204852,0.0
2021-12-02,158.740005,164.199997,157.800003,163.759995,136474900,4.064224,4.064224,67.164616,160.733933,78.320252,0.0

In [128]:
df.to_csv("dataset.csv")