# Volatility Forecast Dataset

In [65]:
#!pip install yfinance
# !pip install pandas_ta

In [20]:
# If yfinance throws an error then uncomment the line below to install it. (You need to install it only once so comment it again after)
import yfinance as yf
import pandas_ta as ta
import pandas as pd
import numpy as np

In [62]:
aapl = yf.Ticker("AAPL")
df = aapl.history("20Y")
df.drop(columns = ["Dividends","Stock Splits"],inplace = True)

In [59]:
MACD = df.ta.macd(close='close', fast=12, slow=26, signal=9, append=True).drop(columns=["MACDh_12_26_9","MACDs_12_26_9"])
RSI = df.ta.rsi()
EMA = df.ta.ema()
MFI = df.ta.mfi()

In [63]:
df['MACD'] = MACD
df['RSI'] = RSI
df['EMA'] = EMA
df['MFI'] = MFI

In [64]:
df

,Open,High,Low,Close,Volume,MACD,RSI,EMA,MFI
Date,,,,,,,,,
2001-12-03,0.322430,0.325799,0.315388,0.322278,181165600,NaN,NaN,NaN,NaN
2001-12-04,0.322278,0.345396,0.317225,0.342946,380419200,NaN,NaN,NaN,NaN
2001-12-05,0.342334,0.367901,0.339425,0.363768,568579200,NaN,NaN,NaN,NaN
2001-12-06,0.359481,0.359787,0.338965,0.348764,338934400,NaN,NaN,NaN,NaN
2001-12-07,0.343864,0.347692,0.336822,0.345089,203515200,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2021-11-26,159.570007,160.449997,156.360001,156.809998,76959800,3.270578,59.270621,157.035940,69.919725
2021-11-29,159.369995,161.190002,158.789993,160.240005,88748200,3.338364,64.995963,157.618498,75.589781
2021-11-30,159.990005,165.520004,159.919998,165.300003,174048100,3.757074,71.386106,159.015135,78.049987
2021-12-01,167.479996,170.300003,164.529999,164.770004,152052500,4.000029,69.945772,160.061475,84.204852
2021-12-02,158.740005,164.199997,157.800003,163.759995,136474900,4.064224,67.164616,160.733933,78.320252